@model IEnumerable<LeDucVuong.SachOnline.Models.CHUDE>
<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-align:center">SÁCH THEO CHỦ ĐỀ</li>
    @foreach (var sach in Model)
    {
        <a href="@Url.Action("SachTheoChuDe","SachOnline", new { id = sach.MaCD})" class="list-group-item">@sach.TenChuDe</a>

    }
</ul>