<div class="row" style="margin-top: 50px; background-color: #333333; color: white; padding: 30px 15px;">
    <!-- Thêm margin-top vào đây -->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6" style="text-align:center;">
        <p>©2021 - Nhà sách ABC. Allright Reserved</p>
        <p>
            Website được phát triển để sử dụng làm bài tập thực hành môn Lập trình
            Web
        </p>
        <p>Email: abc@gmail.com</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-9 col-xs-6 foot">

        <h5 style="font-weight: bold; color: red">
            Số lượt truy cập: @ApplicationInstance.Application["HitCounter"]
            <br>
            Số người online: @ApplicationInstance.Application["Online"]
        </h5>



    </div>
</div>